.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 9px 11px;
  background-color: #fd5b4b;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  appearance: none;

  &:hover {
    background-color: #eb4b44;
  }

  &:active {
    box-shadow: none;
  }

  &--blue {
    font-size: 11px;
    line-height: 15px;
    padding: 14px 39px;
    margin: 0 37px;
    background-color: #0293dc;
    border-radius: 4px;

    &:hover {
      background: #169cdf;
    }
  }
}

@media (min-width: 760px) {
  .button {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .button {
    font-size: 14px;
  }
}
