.reviews {
  padding: 0 17px 100px 17px;

  &__buttons {
    display: flex;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__container-slide {
    box-shadow: 0px 0px 3.5px 2.5px #eff8fd,
      0px 0px 0px 0.8700000047683716px #edf7fc;
  }

  .swiper-slide {
    padding: 10px;
  }
}

.reviews__button--prev {
  margin-right: 5px;
}

.reviews__title {
  margin-bottom: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

.reviews__container-slide {
  padding: 22px 23px 26px 23px;
}

.reviews__slider {
  position: relative;
  border-radius: 4.5px;
  background: #fff;

  .swiper-pagination {
    position: static;
    display: flex;
  }
}

.reviews__button {
  display: flex;
}

.reviews__button-wrapper {
  top: 14px;
}

.reviews__block-company {
  display: flex;
}

.reviews__company {
  color: #033460;
  font-family: $second-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 6px;
}

.reviews__implementation {
  color: #033460;
  font-size: 10px;
  font-weight: 700;
  line-height: 13.5px;
}

.reviews__photo {
  margin-right: 13px;
}

.reviews__name {
  width: 132px;
}

.reviews__img {
  width: 92px;
  height: 89px;
}

.reviews__text {
  color: #3a3f52;
  font-size: 10px;
  line-height: 17.5px;
  margin-bottom: 13px;
}

.reviews__employee {
  color: #3a3f52;
  font-family: $second-font;
  font-size: 10px;
  line-height: 13.5px;
}

.reviews__surname {
  font-weight: 700;
}

.reviews__job {
  font-weight: 400;
}

.reviews__slider .swiper-button-next::after {
  position: absolute;
}

.reviews__text-desc,
.reviews__employee-desc {
  display: none;
}

.swiper-container {
  overflow: hidden;
}

@media (min-width: 768px) {
  .reviews {
    padding: 0 59px;
  }

  .reviews__img {
    width: 138px;
    height: 149px;
  }

  .reviews__container-slide {
    padding: 70px 56px 55px 56px;
  }

  .reviews__slider {
    padding: 0 56px;
  }

  .reviews__block-desc {
    display: flex;
    flex-direction: row-reverse;
  }

  .reviews__text-mobile,
  .reviews__employee-mobile {
    display: none;
  }

  .reviews__text-desc,
  .reviews__employee-desc {
    display: block;
  }

  .reviews__company {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .reviews__implementation {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
  }

  .reviews__photo {
    margin-right: 30px;
  }

  .reviews__name {
    width: 250px;
  }

  .reviews__img {
    width: 138px;
    height: 149px;
    margin-bottom: 18px;
  }

  .reviews__text {
    font-size: 14px;
    line-height: 24px;
    padding-right: 0;
    margin-bottom: 13px;
  }

  .reviews__employee {
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__job {
    font-size: 12px;
    line-height: 16px;
  }

  .reviews__buttons {
    left: 0;
    justify-content: space-between;
    display: flex;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -45px;
}

  .swiper-pagination {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .reviews {
    padding-right: calc(50% - 490px);
    padding-left: calc(50% - 490px);
    margin-bottom: 44px;
  }

  .reviews__name {
    width: 440px;
  }

  .reviews__img {
    width: 146px;
    height: 149px;
  }
}

@media (min-width: 1920px) {
  .reviews {
    padding-right: calc(50% - 590px);
    padding-left: calc(50% - 590px);
  }
}
