.accordion__header {
  position: relative;
  font-family: $second-font;
  font-size: 10px;
  font-weight: 700;
  line-height: 13.5px;
  color: #2e55a2;
  padding: 18px 55px 18px 23px;
  margin-bottom: 30px;
  border-radius: 4.486px;
  background: #fff;
  box-shadow: 0px 0px 3.5px 2.5px #eef8fd;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 11px;
    right: 26px;
    top: 45%;
    background-image: url("../../img/icons/svg/accordion-arrow.svg");
    background-repeat: no-repeat;
  }
}

.accordion__panel.active {
  display: block;
}

.accordion__header.active::before {
  transform: rotate(-180deg);
}

.accordion__content {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #3a3f52;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &--copy {
    line-height: 17px;
    color: #fff;

    & span {
      color: #49b1e6;
    }
  }
}

.accordion__item {
  margin-bottom: 30px;
}

.accordion__content-list {
  @include list-reset;
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

.accordion__content-item {
  position: relative;
  height: 111px;
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
  padding: 34px 18px 41px 106px;
  border-radius: 4.5px;
  background: #fff;
  box-shadow: 0px 0px 8.918930053710938px 4.954960823059082px #eff8fd,
    0px 0px 0px 1.9819843769073486px #edf7fc;

  &--connection {
    height: inherit;
    box-shadow: none;
  }

  &--setting {
    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      left: 34px;
      background-image: url("../../img/icons/svg/setting.svg");
      background-repeat: no-repeat;
    }
  }
  &--install {
    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      left: 34px;
      background-image: url("../../img/icons/svg/install.svg");
      background-repeat: no-repeat;
    }
  }
  &--debug {
    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      left: 34px;
      background-image: url("../../img/icons/svg/debug.svg");
      background-repeat: no-repeat;
    }
  }
}

.accordion__panel {
  display: none;
}

@media (min-width: 768px) {
  .accordion__header {
    font-size: 16px;
    line-height: normal;
  }

  .accordion__content {
    font-size: 14px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
    &--copy {
      font-size: 16px;
      line-height: 170%;
    }
  }

  .accordion__content-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    &--connection {
      grid-template-columns: inherit;
    }
  }

  .accordion__content-item {
    padding: 99px 26px 78px 26px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    &--connection {
      padding: 40px 26px 40px 135px;
      text-align: inherit;

      &::before {
        left: 39px;
      }
    }

    &--setting {
      &::before {
        left: 43%;
        top: 33px;
      }
    }

    &--install {
      &::before {
        left: 43%;
        top: 33px;
      }
    }
    &--debug {
      &::before {
        left: 43%;
        top: 33px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .accordion__item {
    font-size: 12px;
    line-height: 18px;
  }

  .accordion__content-item {
    &--setting {
      padding: 152px 50px 51px 50px;
      height: inherit;

      &::before {
        width: 60px;
        height: 58px;
        left: 123px;
        background-image: url("../../img/icons/svg/setting-desc.svg");
      }
    }

    &--install {
      padding: 152px 68px 51px 68px;
      height: inherit;

      &::before {
        width: 59px;
        height: 59px;
        left: 123px;
        background-image: url("../../img/icons/svg/install-desc.svg");
      }
    }

    &--debug {
      padding: 152px 60px 51px 60px;
      height: inherit;

      &::before {
        width: 60px;
        height: 60px;
        left: 123px;
        background-image: url("../../img/icons/svg/debug-desc.svg");
      }
    }
  }
}
