.footer {
  background-color: #eaf9ff;
  color: #82a6bf;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  padding: 31px 103px 50px 16px;
}

.socials-mobile {
  display: none;
}

.footer__socials {
  display: grid;
  grid-template-columns: repeat(3, 44px);
  column-gap: 8px;
  row-gap: 5px;
  margin-bottom: 13px;
}

.footer__contact {
  display: flex;
  margin-bottom: 10px;
}

.footer__contact-desc {
  display: none;
}

.footer__connection {
  display: grid;
  margin-right: 10px;
}

.footer__socials-img {
  margin-right: 5px;
}

.footer__link-privacy {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (min-width: 768px) {
  .footer {
    padding: 35px 50px 74px 50px;
    font-size: 15px;
    line-height: 22.5px;
  }

  .footer__socials {
    display: flex;
    flex-wrap: wrap;
    width: 886px;
    margin-bottom: 60px;
  }

  .footer__socials-link {
    position: relative;
    height: 33px;
    font-size: 14px;
    border-radius: 16px;
    border: 1px solid #82a6bf;
    padding: 6px 10px 6px 40px;

    &--vk {
      &::before {
        content: "";
        position: absolute;
        width: 19px;
        height: 16px;
        left: 12px;
        top: 10px;
        background-image: url("../../img/icons/svg/vk-tablet.svg");
        background-repeat: no-repeat;
      }
    }

    &--1c {
      &::before {
        content: "";
        position: absolute;
        width: 27px;
        height: 13px;
        left: 10px;
        top: 10px;
        background-image: url("../../img/icons/svg/1c-tablet.svg");
        background-repeat: no-repeat;
      }
    }

    &--hh {
      &::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 13px;
        left: 15px;
        top: 9px;
        background-image: url("../../img/icons/svg/hh-tablet.svg");
        background-repeat: no-repeat;
      }
    }

    &--zen {
      &::before {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        left: 12px;
        top: 6px;
        background-image: url("../../img/icons/svg/zen-desc.svg");
        background-repeat: no-repeat;
      }
    }

    &--telegram {
      &::before {
        content: "";
        position: absolute;
        width: 23px;
        height: 23px;
        left: 12px;
        top: 5px;
        background-image: url("../../img/icons/svg/telegram-desc.svg");
        background-repeat: no-repeat;
      }
    }

    &--youtube {
      &::before {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        left: 12px;
        top: 5 px;
        background-image: url("../../img/icons/svg/youtube-desc.svg");
        background-repeat: no-repeat;
      }
    }
  }

  .footer__block {
    display: flex;
  }

  .footer__socials-img {
    display: none;
  }

  .socials-mobile {
    display: block;
  }

  .footer__contact {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 37px;
  }

  .footer__contact-desc {
    display: none;
  }

  .footer__connection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .footer__address {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: end;
  }

  .footer__wrap {
    display: flex;
  }

  .footer__copyright {
    margin-right: 18px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-right: calc(50% - 490px);
    padding-left: calc(50% - 490px);
  }

  .footer__contact {
    display: none;
  }

  .footer__contact-desc {
    display: grid;
    width: 303px;
  }

  .footer__socials {
    margin-right: 111px;
    row-gap: 10px;
  }

  .footer__socials-link {
    display: flex;
    align-items: center;
    height: 35px;

    &--vk {
      width: 273px;
    }
  }

  .footer__socials-link {
    &--vk {
      &::before {
        top: 10px;
      }
    }

    &--1c {
      width: 168px;
      &::before {
        top: 9px;
      }
    }

    &--hh {
      width: 168px;
      &::before {
        top: 9px;
      }
    }
  }

  .footer__wrap {
    margin-top: -25px;
  }

  .footer__address {
    align-items: start;
  }
}

@media (min-width: 1920px) {
  .footer {
    padding-right: calc(50% - 495px);
    padding-left: calc(50% - 495px);
  }
}
