table {
  width: 100%;
}

tr {
  font-size: 8px;
  color: #033460;
}

td {
  padding: 12px 5px 12px 13px;
}

.table__grey {
  background-color: #f6f6f6;
}

.table__color-hosting {
  padding: 12px 0;
}

.table__light-blue {
  background-color: #009ee2;
  color: #fff;
  text-align: center;
}

.table__blue {
  background-color: #2e55a2;
  color: #fff;
  text-align: center;
}

.table__dark-blue {
  background-color: #033460;
  color: #fff;
  padding: 12px 6px;
  text-align: center;
}

.table__light-grey {
  background-color: #edf7fc;
  font-weight: 400;
  padding: 9px 60px;

  &--bold {
    font-weight: 500;
    padding: 20px 8px 22px 13px;
  }
}

.table__second {
  width: 60px;
  height: 33px;
  text-align: center;

  &--hosting {
    padding: 12px 0;
  }
}

.tariff__table {
  margin-bottom: 36px;
}

.tariff__table-wrapper {
  margin-bottom: 10px;
}

.tariff__hosting-button {
  width: 138px;
  padding: 10px 13px;
}

.tariff__title {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  tr {
    font-size: 16px;
  }

  .table__light-grey {
    padding: 17px 130px;
    &--bold {
      width: 194px;
      padding: 40px;
    }
  }

  .table__first {
    padding: 32px 40px;
  }

  .table__second {
    width: inherit;
    padding: 23px 40px;
  }

  .table__second--hosting {
    padding: 0;
  }

  .table__light-blue,
  .table__blue,
  .table__dark-blue {
    padding: 23px 12px;
  }

  .tariff__hosting-button {
    width: 246px;
    padding: 20px 13px;
  }

  .tariff__table-wrapper {
    margin-bottom: 36px;
  }
}

@media (min-width: 1200px) {
  tr {
    font-size: 18px;
  }

  .table__first {
    padding: 9px 100px;
  }

  .table__second {
    padding: 18px 74px;

    &--hosting {
      padding: 18px 22px;
    }
  }
  

  .table__light-grey--bold {
    width: inherit;
  }
}
