.clients {
  padding: 0 27px;
}

.clients__title {
  margin-bottom: 18px;
}

.clients__img {
  width: 82px;
  height: 64px;
  border-radius: 5px;
  background: #d9d9d9;
}

.clients__slider {
  position: relative;
  padding-bottom: 86px;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: calc(0px - (var(--swiper-navigation-size) / 15)) !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 178px) !important;
  right: auto;
}

.clients__slider [class^="swiper-button-"]::after {
  content: "";
}

@media (min-width: 768px) {
  .clients {
    padding: 0 59px;
  }

  .clients__slider {
    padding: 0 56px;
  }

  .clients__img {
    width: 194px;
    height: 127px;
  }
}

@media (min-width: 1200px) {
  .clients {
    padding-right: calc(50% - 490px);
    padding-left: calc(50% - 490px);
  }

  .clients__img {
    width: 198px;
    height: 127px;
  }
}

@media (min-width: 1920px) {
  .clients {
    padding-right: calc(50% - 590px);
    padding-left: calc(50% - 590px);
  }
}
